/vendor
*.code-workspace
composer.lock
/.phpunit.result.cache
/.idea
/tmp
/logs
/config/schema.php
schema-dump-*.lock
tests/config/schema.php
/.phpunit.cache
/public/coverage
/tests/config/seed.php
/tests/config/schema.php
